<nav id="navbar" class="nav-menu">
    <a href="index.html#home" class="nav-link">الرئيسية</a>
    <a href="store.html" class="nav-link">المتجر</a>
    <div class="nav-item-dropdown">
        <button class="nav-link nav-dropdown-toggle" type="button" aria-expanded="false">
            الخدمات
            <span class="dropdown-arrow" aria-hidden="true">▾</span>
        </button>
        <ul class="nav-dropdown-menu">
            <li><a href="printing-service.html#printing-service" class="nav-dropdown-link">تصميم و طباعة ثلاثية الأبعاد</a></li>
            <li><a href="cnc-service.html#cnc-service" class="nav-dropdown-link">CNC و قوالب</a></li>
        </ul>
    </div>
    <div class="nav-item-dropdown">
        <button class="nav-link nav-dropdown-toggle" type="button" aria-expanded="false">
            القسم التقني
            <span class="dropdown-arrow" aria-hidden="true">▾</span>
        </button>
        <ul class="nav-dropdown-menu">
            <li><a href="companies-projects.html#printing-projects" class="nav-dropdown-link">مشاريع للشركات</a></li>
            <li><a href="amateurs-projects.html#electronics-projects" class="nav-dropdown-link">مشاريع هواة</a></li>
            <li><a href="system-analysis.html#printing-projects" class="nav-dropdown-link">تحليل انظمة ميكاترونية</a></li>
            <li><a href="modules.html#cnc-projects" class="nav-dropdown-link">موديولات و شروحات</a></li>
            <li><a href="blogs.html#electronics-projects" class="nav-dropdown-link">المدونة</a></li>
        </ul>
    </div>
    <a href="about-contact.html#about-us" class="nav-link">من نحن</a>
</nav>
